/* form fields css: */
fieldset {padding:1em 2em;margin:0 0 1.5em;border:1px solid #ddd;-moz-border-radius:5px;border-radius:5px}
legend {color:#000;padding:0 .4em;font-weight:700} /* setting color, because legend doesn't inherit in IE */
input[type=text],input[type=password],textarea,select {width:14em;padding:0.417em;border:1px solid #ddd}
textarea {width:30em;height:12em}
input[type=submit],input[type=reset] {padding:.417em 3em;background:#808080;border:0;color:#fff;margin:1em 0}
input:focus,textarea:focus,select:focus {border:1px solid #9C9C9C}
input[type=radio]:focus,input[type=checkbox]:focus {border:0;outline:1px solid #9C9C9C}
input[type=submit]:focus,input[type=reset]:focus {border:0}
input[type=radio], input[type=checkbox] {margin:0 1em 0 0}
.mid {width:20em !important}
.long, textarea {width:26em !important}

/* form messages&overall styling css: */
label.subject {float:left;width:15em}
label.block {margin:0 0 1em}
.label_inline {width:auto;margin:-.417em 3em 0 0}
label.subject, label.block {display:block}
.form-error, label em, .notice {color:#B86464}
.form-confirm {color:#9CB864;background:url(../images/icon-confirm.gif) no-repeat left center}
.form-error {background:url(../images/icon-error.gif) no-repeat left center}
.form-confirm, .form-error {margin:0 0 0 1em;padding:0 0 0 20px;height:16px;display:inline-block}
.block.form-confirm, .block.form-error {margin:1em 0}
.colorize_rows > .row:nth-child(odd) {background:#eee}
.row {margin:.5em 0;padding:1em;clear:both}
.col {width:50%;float:left}
.cols3 .col {width:33%}
.cols4 .col {width:25%}
.row.focus {background:#FFFBD9 !important}
.row address {margin:1.5em 0}

/* tables css: */
table {margin:0 0 1.5em}
table table {margin:0}
table, td, th {border:1px solid #ddd}
caption {font-style:italic;color:#888}
th, thead td {background:#eee}
table, td, th, caption {padding:.8em}
tfoot td {color:#ADADAD}
caption {width:100%}

/* custom css: */
input[type=submit],input[type=reset],.row {-moz-border-radius:3px;border-radius:3px}
.section {border-bottom:1px solid #ccc;padding:0 0 .5em}
.section,.subsection {margin:2em 0 1.5em}

/* IE7 extended.css fix: */
input[type=submit],input[type=reset] {*padding:.385em 1.7em !important}