@charset "utf-8";
@import url(base.css);

/* -----------------------------------------------------------------------

 HTML-go (HTML/CSS/JS) framework
 author: Maciej Smoliński (http://devbubble.net)
 version: 0.8.2
 source&documentation: http://github.com/msblaze/html-go


----------------------------------------------------------------------- */

/* site css: */
#header, #mainnav, #wrap, #footer {width:940px;margin:0 auto;padding:0 10px} /*width:960px;max-width:940px*/
#header, #footer {position:relative}
#logo {position:absolute;top:0;left:0}

/* messages css: */
.error,.notice,.success {padding:.8em;margin-bottom:1em;border:2px solid #ddd}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880}
.error a {color:#8a1f11}
.notice a {color:#514721}
.success a {color:#264409}


/* browsers with javascript support dedicated css: */
.js div { }

/* media specific css : */
@media print 
{
    /* only print dedicated css */

}

@media screen 
{
    /* only screen dedicated css */

}

@media handheld 
{
    /* only handheld dedicated css */

}